# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
**/build/
.project
.classpath
bin/

# Gradle IDE-specific files
.idea/
*.iml
*.iws
*.ipr
.settings/
